<table id="productsTable">
    <tr>
      <th id="id">ID</th>
      <th id="tituloHeader">Titulo</th>
      <th id="precioHeader">Precio</th>
      <th id="thumbnailHeader"> Thumbnail</th>
    </tr>
    <% productos.forEach(item=> { %>
      <tr>
        <td>
          <%= item.id %>
        </td>
        <td>
          <%= item.title %>
        </td>
        <td>$ 
          <%= item.price %>
        </td>
        <td>
          <img src=<%= item.thumbnail %>>
        </td>
      </tr>
      <% }) %>
  </table>